body {
	font-family: Helvetica, Arial, sans-serif;
}

.container {
	margin: 0 auto;
	background-color: #efefef;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	max-width: 1200px;
}

.box {
	background-color: #8ea86e;
	color: #fff;
	border-radius: 5px;
	padding: 20px;
	text-align: center;
	margin: 10px;
	width: 100px;
}