/* mobile first rules
	-these get applied rigth away as soon as the page loads
	-these should be your mobile-first design rules
	-work up gradually with media queries to adapt tp larger layouts
*/

body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 16px;
	/* 1em = 16px - relative unit of mesurement*/

}

.container {
	margin: 0 auto;
	background-color: #efefef;
	display: flex;
	flex-direction: column;
	max-width: 1140px;

}

.hidden {
	display: none;
}

.box {
	color: #fff;
	border-radius: 5px;
	padding: 20px;
	text-align: center;
	margin: 10px;
	font-size: 1em;
	flex-grow: 1;

}

.box2 {
	background-color: red;
	height: 450px;
}

.box1 {
	background-color: pink;
	height: 450px;
}

.box3 {
	display: none;
}

.box4 {
	display: none;
}



/* handling handheld / mobile @landscape */

@media screen and (min-width: 641px) {
	.container{
		flex-direction: row;

	}

	.box{
		color: #fefefe;
		width: 200px;
	}

	.box1 {
		background-color: blue;
	}

	.box2 {
		background-color: purple;
	}

	.box3 {
		background-color: grey;
		display: block;
	}

	.box4 {
		background-color: brown;
		display: block;

	}

}

/* tablet @ portrait */

/*@media screen and (min-width: 768px) {
	.box{
		background-color: red;
		color: #fefefe;
		width: 150px;
		font-size: 3em;
	}

}*/
